$bright: #0ca941;
$bright-darker: #374a3d;
$bright-light: rgba(82, 180, 92, 0.114);
$the-lightest: #ffffff;
$light: rgba(255, 255, 255, 0.25);
$border: rgba(55, 74, 61, 0.36);
$circle-dark: rgba(83, 195, 81, 0.15);
$circle-bright: rgba(244, 140, 127, 0.15);
$pole: #bf7949;

$font-base-1200: 20px;
$font-base-640: 18px;
$font-base-320: 16px;
