@charset "UTF-8";
@import '../fonts/stylesheet.css';
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0 0;
}

h2 {
  font-size: 1.5em;
  margin: 0 0;
}

h3 {
  font-size: 1.17em;
  margin: 0 0;
}

h4 {
  font-size: 1em;
  margin: 0 0;
}

h5 {
  font-size: 0.83em;
  margin: 0 0;
}

h6 {
  font-size: 0.75em;
  margin: 0 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.header__wrapper {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 1200px) {
  .header__wrapper {
    padding: 25px;
  }
}
@media (max-width: 640px) {
  .header__wrapper {
    padding: 20px 20px 15px 20px;
    flex-direction: column;
    gap: 20px;
  }
}

.logo {
  display: flex;
  gap: 15px;
  align-items: center;
  flex: 0 0 400px;
  cursor: pointer;
  transition: ease-in all 0.1s;
  position: relative;
  z-index: 10;
}
.logo:hover {
  transform: scale(1.03);
}
@media (max-width: 640px) {
  .logo {
    flex: unset;
    justify-content: space-between;
  }
}

.logo__img {
  display: block;
  flex: 0 0 55px;
}
@media (max-width: 640px) {
  .logo__img {
    flex: 0;
  }
}

.logo__link {
  display: flex;
}

.logo__title {
  text-transform: uppercase;
}

.logo__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "FredokaOne";
  font-weight: 400;
}

p {
  font-weight: 500;
}

.text_bright {
  color: #0ca941;
}

#root {
  font-family: "Gilroy";
}

.header,
.search,
.catalog,
.main-screen,
.main-screen__title,
.footer {
  margin-bottom: 40px;
}

.header__plant {
  position: absolute;
  left: 2%;
  z-index: -10;
}

.circle {
  width: 515px;
  height: 515px;
  border-radius: 515px;
  filter: blur(154px);
  position: absolute;
  z-index: -1000;
}

.circle_dark {
  background: rgba(83, 195, 81, 0.15);
}

.circle_bright {
  background: rgba(244, 140, 127, 0.15);
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories {
  display: flex;
  gap: 10px;
}

.category {
  padding: 10px 20px;
  border: 0.5px solid #0ca941;
  font-weight: 600;
  cursor: pointer;
}
.category:hover {
  color: #ffffff;
  background-color: #0ca941;
}

.category_active {
  color: #ffffff;
  background-color: #0ca941;
}

.sort {
  display: flex;
  gap: 5px;
  position: relative;
}

.sort__options {
  position: absolute;
  top: 30px;
  right: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #0ca941;
  cursor: pointer;
}

.sort__choosen {
  color: #0ca941;
  border-bottom: 1px dotted #0ca941;
  cursor: pointer;
}

.sort__option {
  padding: 14px;
}
.sort__option:hover {
  background-color: rgba(82, 180, 92, 0.114);
}

.catalog__title {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.catalog__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: ease-in all 0.1s;
}
.catalog__item:hover {
  transform: scale(1.03) translateY(-1px);
}

.item__pic {
  flex: 0 0 260px;
}

.choose-size {
  background-color: rgba(82, 180, 92, 0.114);
  display: flex;
  gap: 10px;
  padding: 8px;
}

.size {
  padding: 15px 20px;
  cursor: pointer;
}
.size:hover {
  background-color: #ffffff;
}

.size_choosen {
  background-color: #ffffff;
  padding: 15px 20px;
}

.item__info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.main-screen__title {
  font-size: 72px;
}

.main-screen__pic {
  width: 450px;
}

.main-screen__text {
  flex: 0 0 500px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer {
  border-top: #bf7949 1px solid;
}

.footer__flowers {
  display: flex;
  position: relative;
  top: -5px;
  gap: 100px;
  align-items: flex-start;
}/*# sourceMappingURL=app.css.map */