.header__wrapper {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  // @media (max-width: 1200px) {
  //   padding: 25px;
  // }
  @media (max-width: 640px) {
    padding: 20px 20px 15px 20px;
    flex-direction: column;
    gap: 20px;
  }
}
