.item__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  @media (max-width: 640px) {
    gap: 50px;
  }
  @media (max-width: 640px) {
    gap: 0;
    flex-direction: column;
  }
}
.item__properties {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
}
.item__prices,
.item__sizes {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  .item__size,
  .item__price {
    padding: 10px 20px;
    border: 0.5px solid $bright;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in all 0.1s;
    &:hover {
      color: $the-lightest;
      background-color: $bright;
    }
  }
}

.item__pic {
  max-width: 200px;
}
.item__name {
  text-align: center;
}
